.tfex-cont {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999999999999999;
  padding: 10px;
  padding-bottom: 5px;
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
}

.tfex-cont iframe {
  width: 300px;
  height: 180px;
}